@import "foundation/variable.scss";
.p-concept {
  margin-top: 150px;
  @include mq("sp") {
    margin-top: 80px;
  }
  @include title;
  p:first-of-type {
    margin-top: 80px;
  }
  p {
    font-family: "Noto Serif JP", serif;
    margin-bottom: 50px;
  }
}
@include js-fadein;
@include js-fadein__side;
@include js-fadein__vertical;
